#carouselMy{
    margin-bottom: 16px;
}
.navbar-custom a{
    color:white!important;
   
}

.bg-default{
    background-color:teal;   
}

#my_edit{
    margin: 20px;
}

body{
    background-color:floralwhite;
   
 
    
}

