{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <h3 class="mb-4">Edit Snakes</h3>
    <form action="{% url 'edit-snake' snake.id %}"  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group ">
        <button type="submit" class="btn btn-success btn-block">Edit</button>         
    </div>
    </form>
    <form action="{% url 'delete-snake' snake.id %}" method="post">
        {% csrf_token %}           
        <div class="form-group ">
            <button type="submit" class="btn btn-danger btn-block">Delete</button>             
        </div>
        </form>    
    </div>
{% endblock content %}